/**ログイン・ログアウト画面の背景色*/

/*body情報*/
body {
  color: #2c2c2c;
  font-size:1.0rem;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*クラス情報*/
.login,
.logout{
  background: rgb(34,31,73);/*下のグラデが読み込まれない時の回避用*/
  background: linear-gradient(140deg, rgba(34,31,73,1) 0%, rgba(23,23,103,1) 100%);
}

.tac{
  text-align: center;
}

/*角丸クラス*/
.rounded-pill {
    border-radius: 50rem !important;
}

/*Form関連*/
.form-control {
  /*background-color: transparent;*/
  background-color: white;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  height: auto;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group .form-control,
.input-group .form-control {
  padding: 10px 18px 10px 18px;
}

/*ボタン関連*/
.btn,
.navbar .navbar-nav>a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #888;
  color: #FFFFFF;
}

/*通常時*/
.btn-blueVer {
  border: 3px solid #ffffff;
  background: rgb(34,31,73);/*下のグラデが読み込まれない時の回避用*/
  background: linear-gradient(140deg, rgba(34,31,73,1) 0%, rgba(23,23,103,1) 100%);
}

/*フォーカス時*/
.btn-blueVer:hover,
.btn-blueVer:focus,
.btn-blueVer:not(:disabled):not(.disabled):active,
.btn-blueVer:not(:disabled):not(.disabled).active,
.btn-blueVer:not(:disabled):not(.disabled):active:focus,
.btn-blueVer:not(:disabled):not(.disabled).active:focus,
.btn-blueVer:active:hover,
.btn-blueVer.active:hover,
.show>.btn-blueVer.dropdown-toggle,
.show>.btn-blueVer.dropdown-toggle:focus,
.show>.btn-blueVer.dropdown-toggle:hover {
  background: #00BFFF;
  color: #FFF;
}


/*サイドバーの部分*/
@keyframes swing {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  60% { transform: rotate(5deg); }
  70% { transform: rotate(0deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes sonar {
  0% { transform: scale(0.9); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-dropdown1 > a:after,
.sidebar-wrapper .sidebar-dropdown2 > a:after,
.sidebar-wrapper .sidebar-dropdown3 > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper { height: 100vh; }
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.page-wrapper .theme.chiller-theme { background: #1e2229; }

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper { left: 0px; }

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content { padding-left: 300px; }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  z-index:1000;
}
.page-wrapper.toggled #show-sidebar { left: -40px; }
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul { list-style-type: none; padding: 0; margin: 0; }
.sidebar-wrapper a { text-decoration: none; }

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header { padding: 20px; overflow: hidden; }
.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic img { object-fit: cover; height: 100%; width: 100%; }
.sidebar-wrapper .sidebar-header .user-info { float: left; }
.sidebar-wrapper .sidebar-header .user-info > span { display: block; }
.sidebar-wrapper .sidebar-header .user-info .user-role { font-size: 12px; }
.sidebar-wrapper .sidebar-header .user-info .user-status { font-size: 11px; margin-top: 4px; }
.sidebar-wrapper .sidebar-header .user-info .user-status i { font-size: 8px; margin-right: 4px; color: #5cb85c; }

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div { padding: 10px 20px; }

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu { padding-bottom: 10px; }
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 ul,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 ul,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 li,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 li,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .sidebar-submenu1 li a .label,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .sidebar-submenu2 li a .label,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .sidebar-submenu3 li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu,
.sidebar-wrapper .sidebar-menu .sidebar-submenu1,
.sidebar-wrapper .sidebar-menu .sidebar-submenu2,
.sidebar-wrapper .sidebar-menu .sidebar-submenu3 {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown1.active > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown2.active > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown3.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  z-index:10000;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: rgb(34,31,73);/*下のグラデが読み込まれない時の回避用*/
  background: linear-gradient(140deg, rgba(34,31,73,1) 0%, rgba(23,23,103,1) 100%);
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-submenu li a,
.chiller-theme .sidebar-wrapper .sidebar-submenu1 li a,
.chiller-theme .sidebar-wrapper .sidebar-submenu2 li a,
.chiller-theme .sidebar-wrapper .sidebar-submenu3 li a{
  /* color: #000; */
}

.chiller-theme .sidebar-wrapper,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown .active>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown1 .active>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown2 .active>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown3 .active>a,
.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #fff;
}

.user-info{
  color: #fff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-dropdown1 .sidebar-submenu1 li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-dropdown2 .sidebar-submenu2 li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-dropdown3 .sidebar-submenu3 li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown1.active a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown2.active a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown3.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown1 div,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown2 div,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown3 div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    /* background: #fff; */
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #fff;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

/*サイドバー部分　終わり*/

/*便利クラス*/

/*中央揃え＋文字中央*/
.cent{
  text-align:center;
  margin: 0 auto;
}

/*オーバーフロー時スクロール表示(X)*/
.scrX{
  overflow-x: auto;
}

.w100{
  width:100%;
}

label.test{
  color: #FFFFFF; /* ラベルテキストの色を指定する */
  font-size: 13px; /* ラベルテキストのサイズを指定する */

  background: rgb(34,31,73);/*下のグラデが読み込まれない時の回避用*/
  background: linear-gradient(140deg, rgba(34,31,73,1) 0%, rgba(23,23,103,1) 100%);

  padding: 6px; /* ラベルとテキスト間の余白を指定する */
  border-radius: 10px; /* ラベルボックスの角丸を指定する */
  cursor:pointer; /* マウスカーソルの形を指定する */
}

label.test > input{
display:none; /* アップロードボタンのスタイルを無効にする */
}

.target{
  width:20%;
  background-color: red;
}

.sidebar-menu ul li a.active,.sidebar-submenu1 ul li.active,
.sidebar-submenu2 ul li.active,.sidebar-submenu3 ul li.active {
  background-color: #fff;
  color:#000; !important;
}

.e_img{ width:100%; }
.img_size{
  width:100%;
}

table.payslipMode{
  width:100%;
  table-layout: fixed;
}

.FN{
  width:70%;
  text-align:center;
}

.DF{
  width:15%;
  text-align:center;
}

.DN{
  display:none;
}

.DB{
  display:block;
}

/*カレンダー項目*/
#clndr {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.clndr-controls {
  display: flex;
  font-size: 28px;
  height: 35px;
}

.clndr-control-button {
  width: 20%;
}
.clndr-previous-button,
.clndr-next-button {
  width: 100%;
  cursor: pointer;
  display: block;
  transition: all .8s ease;
  background: #AACC05;
  color: #fff;
}
.clndr-previous-button:hover,
.clndr-next-button:hover {
  background: linear-gradient(#ff4500,#ccf502,transparent,transparent);
  color: #000;
}
.month {
  width: 80%;
}

.clndr-table {
  width: 100%;
}
table thead tr td {
  line-height: 40px;
  background-color: #AACC05;
}

table tr .adjacent-month .day-contents {
  display: none;
}
td.header-day:first-child,.calendar-dow-0 {
  color: red;
}
td.header-day:last-child,.calendar-dow-6 {
  color: blue;
}
.day-contents {
  font-size: 34px;
  line-height: 76px;
  height: 90px;
}
.today .day-contents {
  color: #fff;
  background-color: #ff4500;
  border-radius: 50%;
}
